<LinkTo @route="index">
  <div local-class="header">
    <img local-class="logo" src="/images/logo.jpg" alt="Orel Codes">
    <div>
    	<h1>Orel Codes stats</h1>
      <p>
        Проанализировано сообщений: {{format-int this.sumCntMessages}}
      </p>
    </div>
  </div>
</LinkTo>

<div>
	{{outlet}}
</div>
