<div>
	<LinkTo @route="types.spammer">
		Спамер
	</LinkTo>
</div>

<div>
	<LinkTo @route="types.chronicler">
		Летописец
	</LinkTo>
</div>

<div>
	<LinkTo @route="types.coder">
		Кодер
	</LinkTo>
</div>