<div local-class="menu">
	<LinkTo @route="types.spammer">
    <div local-class="menu-item">
  		Спамеры (ссылок: {{format-int this.sumCntLinks}})
    </div>
	</LinkTo>

	<LinkTo @route="types.chronicler">
    <div local-class="menu-item">
  		Летописцы (символов: {{format-int this.sumCntChars}})
    </div>
	</LinkTo>

	<LinkTo @route="types.coder">
    <div local-class="menu-item">
  		Кодеры (вставок: {{format-int this.sumCntCodes}})
    </div>
	</LinkTo>
</div>